#cart-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 1000px;
}

#cart-items .empty-cart-text {
    font-family: "Poppins", sans-serif;
    margin: 0 20px;
}

.cart-heading {
    margin: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.cart-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 10px;
    font-family: "Poppins", sans-serif;
    background-color: #f5f5f5;
    padding: 20px;
}

.cart-image-box {
    display: flex;
    align-items: center;
    background-color: #d4d4d4;
}

.cart-item input[type="checkbox"] {
    accent-color: black;
    width: 30px;
    height: 30px;
    border-radius: 10px;
}

.cart-item img {
    width: 90px;
    height: 90px;
}

.name-to-qty {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.name-n-size {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
}

.name-n-size h3 {
    font-size: smaller;
    font-weight: 600;
}

.name-n-size p {
    font-size: small;
}

.price-qty {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.price-qty h4 {
    font-size: 0.7em;
}

.qty-deleteBtn {
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
}

.deleteBtn {
    background: none;
    border: none;
    border-radius: 10px;
}

.deleteBtn:hover {
    background: #707072;
}

.deleteBtn img{
    width: 26px;
    height: 26px;
}

.qty {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 0 10px;
}

.qty h4 {
    font-size: small;
}

.qty button {
    border: none;
    background: none;
    font-size: 1.5rem;
}