#cart-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 1000px;
}

.cart-heading {
    margin: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.cart-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 10px;
    font-family: "Poppins", sans-serif;
    background-color: #f5f5f5;
    padding: 20px;
}

.cart-image-box {
    display: flex;
    align-items: center;
    background-color: #d4d4d4;
}

.cart-item img {
    width: 100px;
    height: 100px;
}

.name-to-qty {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.name-n-size {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.name-n-size h3 {
    font-size: smaller;
    font-weight: 600;
}

.name-n-size p {
    font-size: small;
}

.price-qty {
    width: 100%;
    border: 1px solid orange;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.price-qty h4 {
    font-size: small;
}

.qty-deleteBtn {
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
}

.qty {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 4px;
}

.qty button {
    border: none;
    background: none;
    font-size: 1rem;
}