.items-grid {
    width: 100%;
    display: flex;
    justify-content: center;
}

.shoes-grid {
    margin: 50px 20px;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 20px;
}

.item {
    background-color: #f5f5f5;
    border-radius: 20px;
    padding: 20px;
    width: fit-content;
    height: auto;
    font-family: "Poppins", sans-serif;
}

.name-n-type p{
    color: #707072;
}

.image-box {
    width: 340px;
    height: 340px;
}

.item img {
    width: 340px;
    height: 340px;
}

.price-size-bag {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.size-bag {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: end;
}

.size {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.size button {
    border: 1px solid black;
    border-radius: 10px;
    padding: 6px;
    background-color: white;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    width: 40px;
    height: 40px;
}

.bag {
    width: 54px;
    height: 54px;
    background-color: black;
    border: none;
    border-radius: 20px;
}

.bag img {
    width: 38px;
    height: 38px;
}