.items-grid {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 60px;
}

.shoes-grid {
  width: 100%;
  max-width: 1920px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(
    3,
    1fr
  );
  gap: 20px;
}

.item {
  background-color: #f5f5f5;
  border-radius: 20px;
  padding: 20px;
  width: 100%;
  height: auto;
  font-family:
    "Poppins", sans-serif;
}

.name-n-type p {
  color: #707072;
}

.image-box,
.item img {
  width: 100%;
  height: 340px;
  object-fit: contain;
}

.price-size-bag {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}

.size-bag {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: end;
}

.size {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.size button {
  border: 1px solid black;
  border-radius: 10px;
  padding: 6px;
  background-color: white;
  font-weight: 500;
  font-family:
    "Poppins", sans-serif;
  width: 40px;
  height: 40px;
}

.size button.active {
  background-color: #000;
  color: #fff;
  border-color: #000;
}

.size button:hover {
  background-color: #000;
  color: #fff;
}

.bag {
  width: 54px;
  height: 54px;
  background-color: black;
  border: none;
  border-radius: 20px;
}

.bag:hover {
    background-color: #707072;
}

.bag img {
  width: 38px;
  height: 38px;
}
